.benefits {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 93%);
}

.benefits__title {
  font-size: 18px;
  padding-top: 33px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin: 0;
}

.benefits__text {
  font-size: 14px;
  padding-bottom: 33px;
  padding-top: 10px;
  margin: 0;
  line-height: 26px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.benefits__number {
  margin: 0;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.benefits__item {
  margin: 0;
}

.benefits__item:not(:last-child) {
  border-bottom: 1px solid hsl(0, 0%, 83%);
}
