.benefits {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #ededed;
  width: 100%;
}

.benefits__item {
  min-height: 167px;
}

@media (min-width: @tablet-width) {
  .benefits {
    display: flex;
    justify-content: space-between;
    height: 256px;
  }
}

.benefits__title {
  width: auto;
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding: 27px 0 6px 0;
}

.benefits__text {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  margin: 0;
  padding: 0 10% 0 10%;
}

.benefits__number {
  margin: 0;
  text-align: center;
  padding: 0 0 12px 0;
}

@media (min-width: @tablet-width) {
  .benefits__title {
    padding: 46px 20% 8px;
    font-size: 21px;
  }

  .benefits__text {
    padding: 0 53px 20px;
  }

  .benefits__number {
    padding: 0 0 16px 0;
  }
}

.benefits__item:nth-child(2) {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}

@media (min-width: @tablet-width) {
  .benefits__item:nth-child(2) {
    border-style: none;
  }

  .benefits__item {
    width: 33%;
    margin: 0;
  }
}
