.feedback__form {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .feedback__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 648px;
  }
}

@media (min-width: @desktop-width) {
  .feedback__form {
    width: 960px;
  }
}

.feedback__label {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #000000;
  margin: 41px 0 26px 0;
  padding: 0;
  position: relative;
}

@media (min-width: @tablet-width) {
  .feedback__label {
    font-size: 30px;
    margin: 75px 0 31px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .feedback__label {
    margin: 116px 0 31px;
    padding: 0;
  }
}

.feedback__description {
  font-size: 14px;
  color: #000000;
  margin: 0;
  line-height: 24px;
  padding: 0 10px 16px;
  position: relative;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .feedback__description {
    padding: 0 162px 35px;
  }
}

@media (min-width: @desktop-width) {
  .feedback__description {
    padding: 0 378px 18px;
  }
}

.form__wrapper {
  border-top: 1px solid #f2f2f2;
  padding: 0 20px 0;
}

.form__wrapper--emotions {
  margin-bottom: 75px;
}

@media (min-width: @tablet-width) {
  .form__wrapper {
    padding: 0;
  }

  .form__wrapper--introduce {
    order: 2;
    width: 42%;
  }

  .form__wrapper--contacts {
    order: 3;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .form__wrapper--impressions {
    order: 1;
    position: relative;
    width: 42%;

    &::after {
     position: absolute;
     content: "";
     width: 1px;
     height: 293px;
     top: 44px;
     right: -53px;
     background-color: #dbdbdb;
    }
  }
}

@media (min-width: @desktop-width) {
  .form__wrapper--impressions::after {
    right: -78px;
  }
}

.form__wrapper--places {
  order: 4;
  width: 100%;
}

.form__wrapper--emotions {
  order: 5;
  width: 100%;
}

.feedback__form div {
  border: none;
}

.feedback__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 26px;
    bottom: 0;
    left: 0;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
  }
}

.feedback__slogan {
  position: absolute;
  width: 229px;
  height: 39px;
  top: 52px;
  left: 45px;
}

.form__label {
  text-align: center;
  font-size: 18px;
  margin-top: 19px;
  margin-bottom: 21px;
}

.form__label--impressions {
  margin-bottom: 37px;
}

.form__area {
  margin-bottom: 21px;
  margin-top: 0;
}

.introduce {
  font-size: 14px;
}

.form__area--phone label,
.form__area--mail label {
  font-size: 14px;
  margin-left: 22px;
  display: block;
  margin-bottom: 6px;
}

@media (min-width: @tablet-width) {
  .form__label {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 21px;
    position: relative;
    width: 100%;
  }

  .form__label--information::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 11px;
    left: 0;
    background-color: #d6d6d6;
  }

  .form__label--places::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 24px;
    left: 0;
    background-color: #d6d6d6;
  }

  .form__label--emotions::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 11px;
    left: 0;
    background-color: #d6d6d6;
  }

  .form__label--information span,
  .form__label--emotions span {
    background-color: #ffffff;
    padding: 0 64px;
    position: relative;
    z-index: 1;
  }

  .form__label--places span {
    display: block;
    width: 41%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0 66px;
    position: relative;
    z-index: 1;
  }

  .form__wrapper--emotions {
    margin-bottom: 61px;
  }
}

@media (min-width: @desktop-width) {
  .form__label--places span {
    display: block;
    width: 29%;
    margin: 0 auto;
  }

  .form__label--places::before {
    top: 24px;
  }

  .form__wrapper--emotions {
    margin-bottom: 69px;
  }
}

.form__label--emotions {
  margin-bottom: 16px;
}

.form__label--places {
  margin-bottom: 30px;
}

.form__label--information {
  position: relative;
  margin-bottom: 20px;
}

.form__wrapper--introduce {
  display: flex;
  flex-direction: column;
}

.form__wrapper--introduce p {
  display: flex;
  align-items: center;
}

.form__wrapper--introduce label {
  padding-right: 15px;
}

.form__input {
  width: 100%;
  min-height: 56px;
  border: none;
  background-color: #f2f2f2;
}

.form__input--mail,
.form__input--phone {
  width: 80%;
  font-size: 18px;
  font-weight: bold;
  padding: 0 10px;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .form__input--mail {
    width: 92%;
    margin-bottom: 25px;
  }

  .form__input--phone {
    width: 92%;
    margin: 0 0 12px;
  }

  .form__wrapper--introduce label {
    padding-right: 18px;
    margin-left: 5px;
    margin-top: 2px;
  }

  .form__label--places {
    margin-bottom: 57px;
  }

  .form__area--phone {
    margin: 0 0 18px;
  }
}

.form__input[placeholder] {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  padding-left: 22px;
}

.form__area--mail,
.form__area--phone {
  position: relative;
  width: 100%;
}

.form__area--phone {
  margin: 0 0 8px;
}

.form__area--mail {
  margin: 0 0 30px;
}

@media (min-width: @desktop-width) {
  .form__area--mail {
    width: 44%;
    display: flex;
    align-items: baseline;
  }

  .form__area--mail label {
    width: 250px;
  }

  .form__area--phone {
    width: 40%;
    display: flex;
    align-items: baseline;
    margin-right: 96px;
  }
}

.form__input--email,
.form__input--phone  {
  padding-left: 22px;
  margin-bottom: 8px;
  font-size: 14px;
}

@media (min-width: @desktop-width) {
  .form__input--email,
  .form__input--phone {
    max-width: 258px;
  }
  .hide {
    display: none;
  }
}

.form__area--phone::before {
  content: "";
  position: absolute;
  width: 59px;
  height: 56px;
  top: 32px;
  right: 0;
  background-color: #e6e6e6;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__area--mail::before {
  content: "";
  position: absolute;
  width: 59px;
  height: 56px;
  top: 32px;
  right: 0;
  background-color: #e6e6e6;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: @desktop-width) {
  .form__area--phone::before {
    top: 0;
    right: -16px;
  }

  .form__area--mail::before {
    top: 0;
    right: -59px;
  }
}

.radio__label,
.checkbox__label {
  position: relative;
  padding-left: 78px;
  text-transform: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 10px;
}

.radio__label::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  top: -16px;
  left: -1px;
  background-color: #e6e6e6;
  border: 18px solid #e6e6e6;
  border-radius: 100%;
}

.checkbox__label::before {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  top: -17px;
  left: -3px;
  background-color: #e6e6e6;
  border-radius: 3px;
}

.radio__button:checked + .radio__label::before {
  background-color: #000000;
}

.checkbox:checked + .checkbox__label::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__area--radio {
  margin-top: 0;
  margin-bottom: 43px;
}

.form__area--checkbox {
  margin-top: 0;
  margin-bottom: 54px;
}

.form__area--checkbox:last-child {
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .form__area--radio {
    padding-bottom: 52px;
    margin: 0;
  }

  .form__area--checkbox {
    width: 205px;
    margin-bottom: 61px;
  }

  .form__label--impressions {
    margin: 40px 0 73px 3px;
  }

  .form__label--introduce {
    margin: 39px 0 56px 6px;
    text-align: left;
  }

  .form__label--information {
    margin-bottom: 24px;
    margin-top: 34px;
  }

  .form__area--checkbox:last-child {
    margin-bottom: 61px;
  }

  .radio__label {
    padding-left: 76px;
  }

  .checkbox__label {
    padding-left: 83px;
  }

  .form__input[placeholder] {
    padding-left: 20px;
  }

  .checkbox__label::before {
    left: 3px;
  }
}

@media (min-width: @tablet-width) {
  .checkbox__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 20px;
    width: 71%;
  }

  .form__label--emotions {
    margin-bottom: 54px;
    margin-top: 4px;
  }
}

@media (min-width: @desktop-width) {
  .checkbox__wrapper {
    flex-wrap: nowrap;
    width: 100%;
    margin: 0 0 15px;
  }

  .form__label--impressions {
    margin: 40px 0 72px 14px;
  }

  .form__label--information {
    margin-top: 31px;
    margin-bottom: 74px;
  }

  .form__area--phone label,
  .form__area--mail label {
    margin-left: 0;
    margin-right: 15px;
  }

  .checkbox__label::before {
    left: 6px;
  }
}

.text__input {
  width: 100%;
  max-height: 161px;
  padding: 18px 20px;
  background-color: #e6e6e6;
  border: none;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
  resize: none;
  line-height: 24px;
}

.form__submit {
  background-color: #80b3d1;
  color: #ffffff;
  width: 100%;
  border: none;
  padding: 18px 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.form__wrapper--submit {
  border: none;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .form__wrapper--submit {
    display: flex;
    justify-content: space-between;
  }

  .form__submit {
    width: 324px;
  }
}

@media (min-width: @desktop-width) {
  .form__submit {
    width: 480px;
  }
}

.form__area--text {
  margin-bottom: 42px;
}

.form__description {
  display: none;
}

@media (min-width: @tablet-width) {
  .form__description {
    display: block;
    font-size: 14px;
    margin: 19px 0 0 0;
  }

  .form__area--text {
    margin: 0 0 50px;
  }
}
