.find-hotel {
  width: 320px;
  margin: 0 0 30px 0;
  padding: 0;
  text-align: center;
}

.find-hotel__label {
  font-size: 21px;
  line-height: 26px;
  padding-top: 34px;
  padding-bottom: 32px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

.find-hotel__description {
  width: 286px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  letter-spacing: normal;
  color: #333333;
  margin: 0;
  padding-bottom: 32px;
  padding-left: 20px;
  padding-right: 20px;
}

.find-hotel__link {
  display: inline-block;
  width: 280px;
  padding-top: 17px;
  padding-bottom: 19px;
  background-color: #80b3d1;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
}

.map {
  width: 320px;
  margin: 0 auto;
}
