.find-hotel {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.find-hotel__label {
  font-size: 21px;
  line-height: 26px;
  margin-top: 34px;
  margin-bottom: 32px;
}

.find-hotel__description {
  width: 286px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  letter-spacing: normal;
  text-align: center;
  color: hsl(0, 0%, 20%);
  margin-top: 0;
  margin-bottom: 43px;
}

.find-hotel__link {
  display: inline-block;
  width: 280px;
  padding-top: 17px;
  padding-bottom: 19px;
  background-color: hsl(202, 47%, 66%);
  color: hsl(0, 0%, 100%);
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 50px;
}

.map {
  width: 320px;
  margin: 0 auto;
}
