.main-nav {
  position: relative;
  width: 100%;
  display: none;
}

@media (min-width: @tablet-width), and (min-width: @desktop-width) {
  .main-nav {
    display: block;
  }
}

.main-nav__list {
  background-color: #80b3d1;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 0;
}

.main-nav__close {
  position: absolute;
  width: 23px;
  height: 22px;
  top: 15px;
  right: 26px;
  cursor: pointer;
  border: none;
  background: transparent;
  fill: #ffffff;
  text-align: center;
  display: none;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    background-color: #ffffff;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
  }

  .nav-list__item {
    width: 25%;
  }

  .nav-list__item:nth-child(1) {
    text-align: left;
    padding-left: 49px;
    padding-right: 0;
  }

  .nav-list__item:nth-child(2) {
    text-align: left;
    padding-right: 141px;
  }

  .nav-list__item:nth-child(3) {
    text-align: right;
    padding-right: 15px;
  }

  .nav-list__item:nth-child(4) {
    text-align: right;
    padding-right: 26px;
  }
}

@media (min-width: @desktop-width) {
  .nav-list__item:nth-child(1) {
    text-align: left;
    padding-left: 90px;
    padding-right: 41px;
  }

  .nav-list__item:nth-child(2) {
    text-align: left;
    padding-right: 226px;
  }

  .nav-list__item:nth-child(3) {
    text-align: right;
    padding-right: 57px;
  }

  .nav-list__item:nth-child(4) {
    text-align: right;
    padding-right: 71px;
  }
}

.main-nav__link {
  display: inline-block;
  width: 100%;
  padding: 16px 0 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2);

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: #88b6d1;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__link {
    color: #000000;
    box-shadow: none;

    &:hover {
      color: #669ec0;
      background-color: transparent;
    }

    &:active {
      color: #cacaca;
      background-color: transparent;
    }
  }

  .main-nav__link--active {
    color: #766357;

    &:hover {
      color: #604e43;
    }

    &:active {
      color: #dbd8d5;
    }
  }
}
