.page-footer {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 648px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.page-footer__label {
  font-size: 21px;
  line-height: 1.24;
  color: #000000;
  padding-top: 41px;
  padding-bottom: 41px;
  margin: 0;
  text-align: center;
}

.page-footer__social-links {
  width: 150px;
  box-sizing: border-box;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.site-list__item:not(:last-child){
  margin-right: 6px;
}

.page-footer__social-links a {
  display: inline-block;
  background-color: #80b3d1;
  width: 46px;
  height: 48px;
  position: relative;
  margin: 0;
}

.site-list__link--twitter svg {
  position: absolute;
  top: 16px;
  left: 16px;
}

.site-list__link--facebook svg {
  position: absolute;
  top: 14px;
  left: 19px;
}

.site-list__link--youtube svg {
  position: absolute;
  top: 18px;
  left: 13px;
}

.page-footer__create-by {
 display: flex;
 align-items: center;
 justify-content: center;
}

.page-footer__description {
  font-size: 14px;
  line-height: 1.86;
  color: #000000;
  margin: 0;
  padding-right: 11px;
}
