.page-header {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
