.page-header {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-wrapper {
  max-height: 57px;
  background-color: transparent;
  text-align: center;
}

.page-header__logo {
  position: relative;
  z-index: 1;
}

@media (min-width: @tablet-width) {
  .header-wrapper {
    width: 20%;
    position: absolute;
    top: 0;
    left: 40%;
  }
}
