.photo-video__wraper {
  width: 100%;
  min-height: 390px;
  margin-bottom: 30px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 320px;
    height: 26px;
    bottom: 8px;
    left: 6px;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
  }
}

@media (min-width: @tablet-width) {
  .photo-video__wraper::after {
    width: 768px;
    height: 57px;
    bottom: 7px;
    left: 0;
    background-image: url("../img/bg-intro-triangle-tablet.svg");
  }

  .photo-video {
    margin-bottom: 67px;
  }
}

.photo-video__image {
  margin-left: -80%;
}

@media (min-width: @tablet-width) {
  .photo-video__image {
    margin: 0;
  }
}

.photo-video__slogan {
  width: 280px;
  position: absolute;
  top: 80px;
  left: 20px;
}

@media (min-width: @tablet-width) {
  .photo-video__slogan {
    width: 61%;
    top: 80px;
    left: 150px;
  }

  .photo-video__image {
    margin: 0;
  }
}

.photo-video__label {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #000000;
  padding: 0;
  margin: 40px 0 26px;
}

@media (min-width: @tablet-width) {
  .photo-video__label {
    font-size: 30px;
    margin: 76px 0 30px;
  }
}

.photo-video__description {
  font-size: 14px;
  color: #000000;
  margin: 0;
  line-height: 24px;
  padding: 0 23px 25px;
  position: relative;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .photo-video__description {
    padding: 0 161px 0;
  }
}

@media (min-width: @desktop-width) {
  .photo-video__description {
    padding: 0 381px 0;
  }

  .photo-video {
    margin-bottom: 70px;
  }

  .photo-video__label {
    margin: 113px 0 30px;
  }
}
