.wrong {
 width: 100%;
 min-height: 280px;
 background-color: #ffffff;
 box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);
}

.wrong__label {
 font-size: 18px;
 text-align: center;
 padding: 42px 0 10px 0;
}

.wrong__description {
 font-size: 14px;
 text-align: center;
 margin: 10px 0 40px 0;
}

.wrong__button {
 width: 57%;
 padding: 22px 0 22px 0;
 background-color: #81b3d2;
 border: none;
 display: block;
 margin: 0 auto;
 font-size: 18px;
 font-weight: bold;
 text-transform: uppercase;
 color: #ffffff;
}

.success {
  width: 100%;
  min-height: 324px;
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);
}

.success__label {
  font-size: 18px;
  text-align: center;
  padding: 42px 0 10px 0;
}

.success__description {
  font-size: 14px;
  text-align: center;
  margin: 10px 0 40px 0;
}

.success__wrapper {
  width: 100%;
  background-color: #f2f2f2;
  padding: 20px 0;
}

.success__button {
  width: 88%;
  padding: 22px 0 22px 0;
  background-color: #81b3d2;
  border: none;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}
