.profits {
  background-color: #80b3d1;
  color: #ffffff;
}

@media (min-width: @tablet-width), and (min-width: @desktop-width) {
  .profits__content {
    display: flex;
    justify-content: space-between;
  }

  .profits__conteiner {
    width: 33%;
    margin: 0;
  }

  .profits__content--bridge {
    flex-direction: row-reverse;
  }

  .profits__img {
    width: 67%;
    position: relative;
  }
}

.profits__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  padding: 57px 0 0;
  margin: 0 0 5px;
}

.profits__title--bridge {
  padding: 41px 0 0 0;
  margin: 0 0 5px;
}

@media (min-width: @tablet-width) {
  .profits__title {
    font-size: 21px;
    padding: 46px 20px 8px;
    margin: 0;
  }
}

.profits__number {
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  margin: 0 0 13px;
}

@media (min-width: @tablet-width) {
  .profits__number {
    padding: 0 0 18px;
    margin: 0;
  }
}

.profits__text {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  padding: 0 21px 39px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .profits__text {
    padding: 0 43px 43px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .profits__title {
    font-size: 21px;
    padding: 52px 94px 8px;
    margin: 0;
  }

  .profits__text {
    padding: 0 62px 58px;
    margin: 0;
  }

  .profits__text--bridge {
    padding: 0 81px 58px;
  }
}

@media (min-width: @desktop-width) {
  .profits__img>picture>img {
    position: absolute;
  }
}
