.profits {
  max-height: 469px;
  background-color: #80b3d1;
  color: #ffffff;
}

.profits__img {
  max-height: 260px;
}

@media (min-width: @tablet-width), and (min-width: @desktop-width) {
  .profits__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .profits__conteiner {
    width: 34%;
    margin: 0;
  }

  .profits__content--bridge {
    flex-direction: row-reverse;
  }

  .profits__img {
    width: 67%;
    min-height: 256px;
    margin-bottom: -4px;
  }
}

.profits__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  padding: 57px 0 0;
  margin: 0 0 5px;
}

.profits__title--bridge {
  padding: 42px 0 0 0;
  margin: 0 0 5px;
}

@media (min-width: @tablet-width) {
  .profits__title {
    font-size: 21px;
    margin: 0 0 8px;
    padding: 0 20px 0;
  }

  .profits__title--bridge {
    padding: 0 20px 0;
  }
}

.profits__number {
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  margin: 0 0 13px;
}

@media (min-width: @tablet-width) {
  .profits__number {
    margin: 0 0 18px;
  }
}

.profits__text {
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  padding: 0 21px 30px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .profits__text {
    padding: 0 43px 0;
  }
}

.thumbnails {
  width: 100%;
  min-height: 416px;
  list-style: none;
  text-align: left;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

.thumbnails__item {
  font-size: 14px;
}

.thumbnails__item:nth-child(1) {
  padding: 12% 0 0 22%;
}

.thumbnails__item:nth-child(2) {
  padding: 9% 0 0 22%;
}

.thumbnails__item:nth-child(3) {
  padding: 9% 0 0 22%;
}

.thumbnails__title {
  font-size: 18px;
  padding: 0 0 15px 0;
  margin: 0;
}

.thumbnails__text {
  font-size: 14px;
  margin: 0;
  padding: 0 10% 0 0;
}

@media (min-width: @tablet-width) {
  .thumbnails {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 330px;
    margin: 0;
    text-align: center;
  }

  .thumbnails__item {
    width: 33%;
  }

  .thumbnails__item:nth-child(1) {
    order: 1;
    padding: 161px 0 0 0;
  }

  .thumbnails__item:nth-child(2) {
    order: 3;
    padding: 161px 0 0 0;
  }

  .thumbnails__item:nth-child(3) {
    order: 2;
    padding: 161px 0 0 0;
  }

  .thumbnails__text {
    padding: 0 18%;
  }

  .thumbnails__title {
    padding: 0 0 23px 0;
  }
}

.thumbnails__item--housing {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 26px;
    left: 22px;
    width: 38px;
    height: 36px;
    background-color: red;
    // background-image: url("../img/icon-house.svg");
    // background-repeat: no-repeat;
  }
}

.thumbnails__item--souvenirs {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 25px;
    width: 32px;
    height: 38px;
    background-color: red;
    // background-image: url("../img/icon-gift.svg");
    // background-repeat: no-repeat;
  }
}

.thumbnails__item--food {
  position: relative;
  padding-bottom: 41px;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 35px;
    background-color: red;
    // background-image: url("../img/icon-burger.svg");
    // background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width), and (min-width: @desktop-width) {
  .thumbnails__item--souvenirs {
    padding-bottom: 0;
  }

  .thumbnails__item--housing::before {
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 72px;
  }

  .thumbnails__item--souvenirs::before {
    top: 57px;
    left: 50%;
    transform: translateX(-50%);
    width: 64px;
    height: 75px;
  }

  .thumbnails__item--food::before {
    top: 63px;
    left: 50%;
    transform: translateX(-50%);
    width: 77px;
    height: 68px;
  }
}
