.welcome {
  width: 100%;
  min-width: 221px;
}

.main-picture__wraper {
  width: 100%;
  min-height: 388px;
  position: relative;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 27px;
    bottom: -1px;
    left: 0;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
  }
}

.main-picture__wraper--small {
  min-height: 156px;
}

@media (min-width: @tablet-width) {
  .main-picture__wraper {
    min-height: 518px;
    background-image: url("../img/bg-back-tablet@1x.jpg");

    &::after {
      width: 768px;
      height: 57px;
      bottom: 0;
      left: 0;
      background-image: url("../img/bg-intro-triangle-tablet.svg");
    }
  }

  .main-picture__wraper--small {
    min-height: 290px;
  }
}

@media (min-width: @desktop-width) {
  .main-picture__wraper {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    &::after {
      width: 1200px;
      background-image: url("../img/bg-intro-triangle-desktop.svg");
    }
  }

  .main-picture__wraper--small {
    min-height: 300px;
  }
}

.main-picture__slogan {
  width: 280px;
  height: 214px;
  position: absolute;
  top: 90px;
  left: 20px;
}

.main-picture__slogan--small {
  width: 229px;
  height: 40px;
  top: 52px;
  left: 45px;
}

@media (min-width: @tablet-width) {
  .main-picture__slogan {
    width: 460px;
    height: 350px;
    position: absolute;
    top: 77px;
    left: 154px;
  }

  .main-picture__slogan--small {
    width: 460px;
    height: 350px;
    top: -41px;
    left: 155px;
  }

  .main-picture__image {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-picture__slogan {
    top: 77px;
    left: 371px;
  }

  .main-picture__slogan--small {
    top: -31px;
    left: 371px;
  }
}

.welcome__label {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  color: #000000;
  margin: 42px 0 27px;
  padding: 0 23px 0;
  position: relative;
}

@media (min-width: @tablet-width) {
  .welcome__label {
    padding: 0 72px 0;
    font-size: 21px;
    margin: 51px 0 27px;
  }
}

@media (min-width: @desktop-width) {
  .welcome__label {
    padding: 0 288px 26px;
    font-size: 21px;
  }
}

.welcome__description {
  font-size: 14px;
  color: #000000;
  margin: 0 0 25px;
  line-height: 26px;
  padding: 0 10px 0;
  position: relative;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .welcome__description {
    padding: 0 140px 0;
    margin: 0 0 50px;
  }
}

.advantages {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 37px;
    top: -21px;
    left: 0;
    background-image: url("../img/bg-triangle.svg");
  }
}

@media (min-width: @tablet-width) {
  .advantages::before {
    display: none;
  }
}
